In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [63]:
player_playoff_stats = pd.read_excel("data_files/Playoff Player Stats.xlsx")
player_playoff_stats = player_playoff_stats[['Year', 'Age', 'Team', 'Lg', 'Round', 'W/L', 'Opp', 'G', 'W', 'L']]

In [91]:

player_playoff_stats['Year'] = pd.to_numeric(player_playoff_stats['Year'], errors='coerce')
player_playoff_stats

      Year   Age Team      Lg Round      W/L  Opp    G    W    L
0   1985.0  21.0  CHI  1985.0   EC1  L (1-3)  MIL  4.0  1.0  3.0
1   1986.0  22.0  CHI  1986.0   EC1  L (0-3)  BOS  3.0  0.0  3.0
2   1987.0  23.0  CHI  1987.0   EC1  L (0-3)  BOS  3.0  0.0  3.0
3   1988.0  24.0  CHI  1988.0   EC1  W (3-2)  CLE  5.0  3.0  2.0
4   1988.0  24.0  CHI  1988.0   ECS  L (1-4)  DET  5.0  1.0  4.0
..     ...   ...  ...     ...   ...      ...  ...  ...  ...  ...
93  2022.0   NaN  NaN     NaN   NaN      NaN  NaN  NaN  NaN  NaN
94  2023.0  38.0  LAL  2023.0   WC1  W (4-2)  MEM  6.0  4.0  2.0
95  2023.0  38.0  LAL  2023.0   WCS  W (4-2)  GSW  6.0  4.0  2.0
96  2023.0  38.0  LAL  2023.0   WCF  L (0-4)  DEN  4.0  0.0  4.0
97  2024.0  39.0  LAL  2024.0   WC1  L (1-4)  DEN  5.0  1.0  4.0

[98 rows x 10 columns]

In [92]:
# split 2 df
lebron_df = player_playoff_stats[player_playoff_stats.Year>2003]
jordan_df = player_playoff_stats[player_playoff_stats.Year<=2003]
jordan_df.tail()

      Year   Age Team      Lg Round      W/L  Opp    G    W    L
35  1998.0  34.0  CHI  1998.0   ECS  W (4-1)  CHH  5.0  4.0  1.0
36  1998.0  34.0  CHI  1998.0   ECF  W (4-3)  IND  7.0  4.0  3.0
37  1998.0  34.0  CHI  1998.0   FIN  W (4-2)  UTA  6.0  4.0  2.0
38  2002.0   NaN  NaN     NaN   NaN      NaN  NaN  NaN  NaN  NaN
39  2003.0   NaN  NaN     NaN   NaN      NaN  NaN  NaN  NaN  NaN

In [93]:
print(f"Jordan failed to make the playoffs {jordan_df['Round'].isna().sum()} times in his {jordan_df['Year'].nunique()} season career. Lebron failed to make the playoffs {lebron_df['Round'].isna().sum()} times in his {lebron_df['Year'].nunique()} season career. ")

Jordan failed to make the playoffs 2 times in his 15 season career. Lebron failed to make the playoffs 4 times in his 21 season career.

In [98]:

print(f"Jordan made the finals {(jordan_df['Round'] == 'FIN').sum()} times in his {jordan_df['Year'].nunique()} season career. Lebron made the finals {(lebron_df['Round'] == 'FIN').sum()} times in his {lebron_df['Year'].nunique()} season career.")

Jordan made the finals 6 times in his 15 season career. Lebron made the finals 10 times in his 21 season career.